
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: eff0f4;
}

.container{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container .drop{
    position: relative;
    min-width: 350px;
    min-height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0, 0.5),
    25px 35px 20px rgba(0, 0, 0, 0, 0.5),
    25px 30px 30px rgba(0, 0, 0, 0, 0.5),
    inset -20px -20px -25px rgba(255, 255, 255, 0.9);
    transition: 0.5s;
}

.container .drop:hover{
    border-radius: 50%;
}
