body {
    background : linear-gradient(to bottom right
    , rgb(192, 132, 53),rgb(158, 65, 158)) ;
    color: #e7d8d8;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200;
    height: 734px;
    }
  
  
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.7rem 10%;
      height: 1rem;
      background-color: none;
      box-shadow: 0 1px 10px white;
    }
  
  
  
    header .logo {
      text-align: left;
      font-size: 1.5rem;
      font-weight: 800;
      text-decoration: none;
      color: yellow;
      cursor: default;
    }
    header .logo i {
      font-size: 2.2rem;
      text-align: left;
      justify-items: center;
    }
  
    header .navbar ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    header .navbar li {
      margin-left: 2rem;
    }
    header .navbar ul li a {
      font-size: 1.3rem;
      color: white;
      font-weight: 600;
      text-decoration: none;
      letter-spacing: 0.04rem;
      transition: 0.2s;
    }
    header .navbar ul li a.active,
    header .navbar ul li a:hover {
      color: white;
      border-bottom: 0.2rem solid yellow;
      padding: 0.5rem 0;
    }
  
  header .logo:hover{
    color: white;
      border-bottom: 0.2rem solid yellow;
      padding: 0.5rem 0;
  
  }
  



  .container{
    text-shadow: 0 0 40px yellow; /* Optional: Add a shadow for depth */;
    text-align: left;
    padding: 5px;
    margin-top: 70px;
    align-items: center;
    justify-items: center;
    height: 580px;
    width: 460px;
    border-radius: 20px; /* Add border-radius for curved corners */
    box-shadow: 0 0 40px white; /* Optional: Add a shadow for depth */
  }
  
    
.text, .P{
}

  .fixed-text {
    position: absolute;
    bottom: 20px;
    margin: 50px;
  }
    


  .socials {
    position: relative;
    margin-top: 9rem;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  .social-icons a {
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color: #00d9ff;
    background-color: #09011b;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #0685da;
  }
  .social-icons a.github:hover {
    background-color: #0e0e0e;
  }
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.dev:hover {
    background-color: #070707;
  }
  .social-icons a.instagram:hover {
    background-color: #ee00da;
  }